.App {
  text-align: center;
}

.navbar{
  background: #fafafa;
  border-bottom: 1px solid lightgrey;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.catalogContainer{
	display: flex;
	flex-flow: row;
	padding: 15px;
	justify-content: center;
}

.subject{
	font-weight:bold;
}

.name{
	font-weight: bold;
	color: DimGrey;
}

.threadLink{
	font-weight:bold;
}

.opHeader{
}
.opBody{
}

.opImage{
	width:250px;
	vertical-align: text-top;
}

.boardTitle{
	margin: 20px;
	font-size: 50px;
	color: #af0a0f;
	text-align: center;
	font-weight: bold;
}

.board{
	display: flex;
	flex-flow: column;
	justify-content: center;
}


.catalogLink, .catalogLink:hover{
  color: inherit;
  text-decoration: inherit;
}

.catalogCard:hover{
  border: 1px solid rgb(187, 187, 187)!important;
}

.postImage{
	display:inline;
	width: 125px;
}

.postImage{
	 vertical-align: text-top;
}

.catalogCard{
	width: 202px !important;
	height: 502px !important;
}

.catalogCardBody{
	padding: 0px !important;
}

.createThreadForm{
	display:none
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.threadContainer{
  background: white;
}

.quote{
  color: #789922;
}

.quickReply{
  position: fixed;
  bottom: 0;
}

@media (max-width: 992px) {
	.catalogCard{
		margin: 0px !important;
	}
	.replyCard{
		margin: 0px !important;
		width: 100% !important;
    border-radius: 0px !important;
    border-bottom: 1px solid lightgrey !important;
  }
  
	.threadContainer{
		padding: 0px !important;
		width: 100% !important;
	}
}

.loader {
  position: absolute;
  top: 25%;
  left: 50%;
  border: 16px solid #ffffff; 
  border-top: 16px solid #007bff; 
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .threadContainer{
    width: 50%;
  }
}